html, body {
  overflow-x: hidden;
  max-width:4000px;
  position: relative;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('pics/bg-1.png;');
  background-size: cover;
  background-position: center;
  filter: blur(10px); /* Apply blur to the background */
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255)), url('pics/bg-1.png');
  z-index: -1;
} 


 /***** Container holding the image and the text *****/
/* .container {
  position: relative;
  max-width: 900px; 
  margin: 0 auto; 
} 
*/
/* .containerAI {
  display: flex;
  align-items: center;
} */
.image {
  width: 35%;
  margin-right: 0px; /* Adjust the margin as needed */
}
.text {
  width: 75%;
  display: block;
  text-align: justify;
}    
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 75%;
  max-width:800px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 5px 0;
  margin-left:00px;
}
a.blue,a.blue:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a.blue:link {
color: blue;
background-color: transparent;
text-decoration: none;
text-decoration: underline;
}



.circle {
  /border-color: #151515;
  border-image: none;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1px;
  overflow: hidden;
  position: relative; 
  margin-right: -4px; /* Adjust the margin as needed */
}








 /* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #c80000;
  position: relative;
}
/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}
/************** Style navigation menu links **************/
.topnav a {
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 12px;
  display: block;
}

/************** Style the hamburger menu **************/
.topnav a.icon {
  background: rgb(215, 67, 67);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/************** Add a grey background color on mouse-over **************/
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: black;
  color: white;
}
/* img {
    height: 100%;
    width: 100%;
    } */
img:hover {
    opacity: 0.5;
    height: 90%;
    width: 90%;
    }

/************** underlined text with fixed width line below **************/
.fixed-width-underline {
  display: inline-block;   /* Allows control of the width */
  position: relative;      /* Required for positioning the underline */
  text-decoration: none;   /* Remove default underline */
  color: #333;             /* Text color */
  padding-left: 0px;
  margin-bottom: 20px;
}
.fixed-width-underline:hover{
  color:#000!important;
  background-color:#0be7ff!important;
  width:90%;}
.fixed-width-underline::after {
  content: '';
  display: block;
  width: 180px;            /* Fixed width of the underline */
  height: 1px;            /* Thickness of the underline */
  background-color: #000000;  /* Color of the underline */
  position: absolute;
  margin-left: -2px;
  margin-bottom: 20px;
}


  /************** Styling for the blockquote **************/
  blockquote {
    font-family: 'Georgia', serif;
    font-size: 16px;
    font-style: italic;
    color: #555;
    text-align: right;
    margin-right: 0px;
    /* padding: 20px 40px; */
    /* border-left: 8px solid #007BFF;
    background-color: #f9f9f9;
    line-height: 1.6; */
}
/* Styling for the author attribution */
blockquote footer {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-style: normal;
    color: #777;
    text-align: right;
}


/************** Lists **************/
ul {
  list-style-type: disc; /* Use disc, circle, square, or none for bullet points */
  padding-left: 10px; /* Adjust indentation as needed */
}

ul li {
  line-height: 20px; /* Adjust line height to create 10px spacing between lines */
  margin-bottom: 10px; /* Add 10px space between list items */
}



/************** RESPONSIVE DESIGN **************/
/* FOR SMALL SCREENS */
@media (max-width:900px){
  .w3-sidebar.w3-collapse{display:none}
  .w3-main{margin-left:0px!important;margin-right:0px!important;margin-top:50px}
  .w3-auto{max-width:100%}
  .w3-container{
    max-width:95vw;
    padding:0px 10px;
    background-color:#ffffff;
    border: 1px solid #c6c6c6; /* Thin gray line at the bottom */
  }
  .top-menu-right {
    display:block;
    width:100vw;
    background-color: #ffffff;
    text-align: right;
  }
  .top-menu-right a {
    /* background-color: lightgray; */
    color: rgb(0, 0, 0);
    text-align: right;
    text-decoration: none;
    padding: 1px 1px;
    font-size: 16px;
    /* transform: rotate(-45.5deg);
    transform-origin: left top;  Adjust the rotation origin if needed 
    display: inline-block; Ensures the text rotates properly */
  }
  .top-menu-left {
    display:flex;
    max-width:95vw;
    flex-direction: column; /* Stacks text into two lines */
    background-color: #ffffff;
    text-align: left;
  }
  .top-menu-left a {
    color: rgb(0, 0, 0);
    display:flex;
    width:30vw;
    flex-direction: column; /* Stacks text into two lines */
    text-align: left;
    text-decoration: none;
    line-height: 20px; /* Adjust line height to create 10px spacing between lines */
    font-size: 16px;
  }
  .topbar {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    padding: 2px;    
    border-bottom: 1px solid #c6c6c6;   
    width: 100%; /* Full width */
    height: auto; /* Auto height */
    left: 0;
    z-index: 1000;
    display: flex;
    margin-left: 0px;
    justify-content: space-between; /* Space between left and right links*/
    align-items: center;
  } 
}
/* FOR BIG SCREENS */
@media (min-width:901px){
  .w3-main{
    margin-left:230px;
    align-items:center;
    justify-content: center;
  }
  .w3-main,#main{transition:margin-left .5s}
  .w3-sidebar{
    height:100%;
    width:80px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto;}
  .topbar.topbar-collapse{display:none}
  .w3-modal-content{width:900px}
  .w3-hide-large{display:none!important}
  .w3-sidebar.w3-collapse{display:block!important}
  .w3-animate-left{position:relative;animation:animateleft 0.5s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
  .w3-container{
    max-width:800px;
    padding:0px 10px;
    background-color:#ffffff;
    border: 1px solid #c6c6c6; /* Thin gray line at the bottom */
  }
}
/************** RESPONSIVE DESIGN **************/



/* .w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%} */
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-bar-block .w3-bar-item{width:90%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-responsive{display:block;overflow-x:auto}
.w3-dropdown-hover:hover .w3-dropdown-content{display:block}
.w3-dropdown-hover:first-child,.w3-dropdown-click:hover{background-color:#ccc;color:#000}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}
.w3-bar .w3-button{white-space:normal}
.w3-button:hover{color:#000!important;background-color:#0be7ff!important}
/* 
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0} 
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-padding-small{padding:4px 8px!important}
.w3-padding{padding:8px 16px!important}
.w3-padding-large{padding:12px 24px!important}
.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.w3-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.w3-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.w3-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.w3-padding-64{padding-top:64px!important;padding-bottom:64px!important} 
.w3-padding-top-64{padding-top:64px!important}
.w3-padding-top-48{padding-top:48px!important}
.w3-padding-top-32{padding-top:32px!important}
.w3-padding-top-24{padding-top:24px!important} */
/* .w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap} */
/* .w3-btn:hover{box-shadow:0 8px 16px 0 rgba(20, 214, 218, 0.2),0 6px 20px 0 rgba(201, 9, 9, 0.19)} */
/* .w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none} */






/* %%%%%%%%%%%%%%%%%%%%%% SLIDER %%%%%%%%%%%%%%%%%%%%%% */
* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 300px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: 300px;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 8;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 30px;
  height: 300px;
  background-color: #2196F3;
  opacity: 0.8;
  border-radius: 1%;
}
.chart-img {
  width: 500px;
}
@media (min-width:601px){
  .chart-img {
    width: 500px;
  }
}
/* %%%%%%%%%%%%%%%%%%%%%% END SLIDER %%%%%%%%%%%%%%%%%%%%%% */