body,
p {
    margin: 100;
    background: rgb(174,175,238);
    background: radial-gradient(circle, rgba(174,175,238,0.5242297602634804) 0%, rgba(148,187,233,0.4457983877144608) 100%);
  }

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
